*{
    margin :  0;
    padding :  0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

.layout{
    width: 80%;
    margin: 0 auto;
}

.layout::after{
    content: "";
    display: table;
    clear: both;
}

.colonna{
    float: left;
    width: 30%;
}

.img{
    width: 100%;
}

.brand{
    font-size: small;
}

.prodotto{
    font-weight: 1000;
}

.price-discounted{
    font-size: medium;
    color: red;
    font-weight: 1000;
}

.price{
    font-size: medium;
    text-decoration: line-through;
    color: black;
}